* {
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans', sans-serif;
}
body {
	background-color: #DFDFDF;
}
.division figure img {
	object-fit: cover;
}
section div.banner img {
	width: 100%;
}
iframe.video {
	margin: 0 auto;
}
.homepage-section {
	padding-top: 2%;
}
/*HOMEPAGE*/
#hora {
	text-align: center;
	font-weight: bold;
}
.articles-text {
	display: flex;
	padding-top: 50px;
}
.articles-text article {
   width: 50%;
   display: inline-block;
   text-align: center;
   overflow: hidden;
   height: 193px;
}
section.homepage div.banner img {
 	height: 490px;
    object-fit: cover;
}
h3.subtitle {
 	padding-left: 6%;
    font-weight: bold;
    font-size: 27px;
    padding-bottom: 10px;
   	padding-top: 20px;
 }
.homepage-section {
	width: 100%;
    display: flex;
    flex-direction: column;
}
#audio audio {
	margin: 15px auto;
    display: block;
}
.division {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 1%;
    padding-top: 1%;
}
.division figcaption {
	text-align: center;
}
.division figcaption a {
	color: black;
	text-decoration: none;
	font-weight: bold;
    font-size: 20px;
}
.dv-final {
	padding-bottom: 3%;
}
.division figure:hover {
	-webkit-transform:scale(1.1);transform:scale(1.1);
}
.division figure {
	overflow:hidden;
}
/*NIÑOS SECTION*/
div.gallery {
	text-align: center;
} 
div.gallery img {
	width: 28%;
    margin: 15px 13px;
    border: 3px solid #8e8b8b;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
div.gallery img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
div.moda-infantil {
	text-align: center;
}
div.moda-infantil h3 {
	text-align: left;
	padding-left: 6%;
	color: #666;
}
div.moda-infantil img{
	width: 22%;
	margin: 3px;
}
div.moda-infantil .gallery-imagenes {
	padding: 0 15%;
}
div.moda-infantil img:hover {
	-webkit-transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	transform: rotateY(180deg);
	transform-style: preserve-3d;}
}

/*CONTÁCTANOS PAGE*/
.location .box-map {
	padding: 1%;
}
.location {
  display: flex;
  justify-content: center;
  padding: 2% 0;
}
div.text h2 {
  padding-top: 2%;
  font-weight: 900
}
h2 {
	text-align: center;
}
.location .box-map {
	width: 23%;
	padding: 5px;
}
.location .box-map iframe{
	width: 100%;
	height: 350px;
}
.form-contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-contact h3 {
	padding: 20px;
}